@mixin userCircleStatus() {
    -webkit-animation-name: userCircleStatus;
    -webkit-animation-timing-function: linear;
    -webkit-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    
    @keyframes userCircleStatus {
        0% {
            -webkit-transform: translateY(0);
        }
        50% {
             -webkit-transform: translateY(-2px);
        }
        100% {
             -webkit-transform: translateY(0);
        }
    }
}
