/// <reference path="../../defaults/default.scss" />

.cn_main {
    width: 100%;
    height: 100%;
    @include make-container();
    @include collapse();
}

.row_main {
    width: 100%;
    height: 100%;
    @include make-row();
    @include collapse();
}

//  SECTION LEFT
//
///
.col_ma_left {
    height: 100%;
    background: $poBackground;
    @include collapse();
    @extend .col-xs-12;
    @extend .col-sm-12;
    @extend .col-md-1;
    @extend .col-lg-2;
    @extend .col-xl-1;

    @media(max-width: $sm) {
        height: 20%;
    }

    @media(max-width: 731px) and (orientation:landscape) {
        height: 25%;
    }
}

//  SECTION MID
//
///
.col_ma_mid {
    height: 100%;
    @include collapse();
    @extend .col-xs-12;
    @extend .col-sm-12;
    @extend .col-md-8;
    @extend .col-lg-9;
    @extend .col-xl-8;

    @media(max-width: $sm) {
        height: 80%;
    }

    @media(max-width: 731px) and (orientation:landscape) {
        height: 75%;
    }
}

//  SECTION RIGHT
//
///
.col_ma_right {
    height: 100%;
    @include collapse();
    @extend .col-xs-12;
    @extend .col-sm-12;
    @extend .col-md-3;
    @extend .col-lg-1;
    @extend .col-xl-3;

    @media(max-width: $sm) {
        height: 0;
    }

    @media(max-width: 731px) and (orientation:landscape) {
        height: 0;
    }
}

//  COMPONENTS
//
///

/* rows col left */

.row_ma_lf_top {
    width: 100%;
    height: 10%;
    @include collapse();
    @include make-row();

    @media(max-width: $sm) {
        height: 45%;
    }

    @media(max-width: 731px) and (orientation:landscape) {
        height: 40%;
    }
}

.row_ma_lf_mid {
    width: 100%;
    height: 85%;
    display: flex;
    justify-content: center;
    @include collapse();
    @include make-row();

    @media(max-width: $sm) {
        height: 55%;
    }

    @media(max-width: 731px) and (orientation:landscape) {
        height: 60%;
    }
}

.row_ma_lf_bot {
    width: 100%;
    height: 5%;
    @include collapse();
    @include make-row();

    @media(max-width: $sm) {
        height: 0;
    }

    @media(max-width: 731px) and (orientation:landscape) {
        height: 0;
    }
}

/* components col left*/

.row_po_tp_mleft {
    height: 65%;
    display: flex;
    justify-content: center;
    align-self: center;
    @include collapse();

    @media(max-width: $sm) {
        height: 100%;
    }

    @media(max-width: 731px) and (orientation: landscape) {
        height: 100%;
    }
}

.ul_po_tp_mleft {
    height: 100%;
    display: flex;
    flex-direction: column;
    @include collapse();

    li {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;

        svg {
            width: 35%;
            fill: $poFill;
            cursor: pointer;
        }
    }

    li:nth-child(3) {
        svg {
            width: 30%;
        }
    }

    @media(max-width: $sm) {
        width: 100%;
        flex-direction: row;
    }

    @media(max-width: 731px) and (orientation:landscape) {
        flex-direction: row;
        width: 90%;

        li {
            svg {
                width: 20%;
            }
        }

        li:nth-child(3) {
            svg {
                width: 18%;
            }
        }
    }

    @media(min-width: $lg) and (max-width: $xl) {
        width: 75%;
        li {
            svg {
                width: 35%;
            }
        }
    }
}


/* user customs */

.row_prof_top_mleft {
    width: 250px;
    height: 200px;
    display: flex;
    justify-content: center;
    @include collapse();

    @media(max-width: $sm) {
        height: 0;
        display: none;
    }

    @media(max-width: 731px) and (orientation: landscape) {
        height: 0;
        display: none;
    }
}

.ul_prof_top_mleft {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    @include collapse();
    li:nth-child(1) {
        height: 60%;
    }

    li:nth-child(2) {
        flex-direction: column;
    }

    li {
        width: 100%;
        height: 25%;
        display: flex;
        justify-content: center;
        align-self: center;
    }
}

.img-prof {
    width: 100%;
    height: 100%;
    background-image: url(../images/user.jpg);
    background-size: cover;
    background-position: center center;
    -webkit-clip-path: circle(30% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
}

.user-status {
    position: absolute;
    z-index: 999;
    width: 20px;
    height: 20px;
    border-radius: 50px;
    left: 60%;
    top: 15%;
    @include userCircleStatus();
}

.user-status-on {
    @extend .user-status;
    background: #94f002;
    box-shadow: 0 0 10px #94f002;
}

.user-status-inactive {
    @extend .user-status;
    background: #FFF;
    box-shadow: 0 0 10px #FFF;
}

.user-status-off {
    @extend .user-status;
    background: #ff0f2b;
    box-shadow: 0 0 10px #ff0f2b;
}

.user-id {
    text-transform: capitalize;
    align-self: center;
    font-size: 20px;
}

.user-range {
    align-self: center;
    text-transform: capitalize;
    font-size: 16px;
    color: #9f9f9f;
}


/* rows col mid */

.row_ma_mid_top {
    width: 100%;
    height: 10%;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-bottom: 1px solid $bgBarT;
    @include make-row();
    @include collapse();
}

.row_ma_mid_mid {
    width: 100%;
    height: 80%;
    @include make-row();
    @include collapse();

    @media(min-width: $lg) {
        height: 90%;
    }
}

.row_ma_mid_bot {
    width: 100%;
    height: 10%;
    @include make-row();
    @include collapse();

    @media(min-width: $lg) {
        height: 0;
    }
}


/* rows col right */

.row_ma_rg_top {
    width: 100%;
    height: 10%;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-bottom: 1px solid $bgBarT;
    @include make-row();
    @include collapse();
}

.row_ma_rg_mid {
    width: 100%;
    height: 80%;
    @include make-row();
    @include collapse();
}

.row_ma_rg_bot {
    width: 100%;
    height: 10%;
    @include make-row();
    @include collapse();
}


/* helper mid bot */

.cn_helper {
    width: 130px;
    height: 100%;
    margin-left: 40px;
    border-radius: 4px;
    box-shadow: 0 0 10px #e0e6ea, -1px 20px 40px #e9eef1;
}

.ul_helper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;

    li {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;

        svg {
            width: 60%;
            align-self: center;
        }

        p {
            padding-right: 15px;
            margin: 0;
            font-size: 18px;
            align-self: center;
        }
    }

    @include collapse();
}

// user profiler

.row_ma_rg_mid_childtop {
    width: 100%;
    height: 5%;
    @include make-row();
    @include collapse();
}
.row_ma_rg_mid_childmid {
    width: 100%;
    height: 85%;
    justify-content: center;
    @include make-row();
    @include collapse();
}
.row_ma_rg_mid_childbot {
    width: 100%;
    height: 10%;
    @include make-row();
    @include collapse();
}