/* ADMINISTRATION - AD DATA */

.con_adData {
    width: 100%;
    height: 100%;
    @include make-container-max-widths();
}

//  SECTION MID
//
///

/* rows middle  */

.row_adData_top {
    width: 100%;
    height: 15%;
    @include make-row();
    @include collapse();

    @media(max-width: $sm) {
        height: 10%;
    }
}

.row_adData_mid {
    width: 100%;
    height: 85%;
    @include make-row();
    @include collapse();

    @media(max-width: $sm) {
        height: 90%;
        flex-direction: column;
    }
}


/* addata mid top */
.col_adData_tp_left_min {
    height: 100%;
    @include collapse();
    @extend .col-xs-1;
    @extend .col-sm-1;
    @extend .col-md-1;
    @extend .col-lg-1;
    @extend .col-xl-1;
}

.col_adData_tp_left {
    height: 100%;
    @include collapse();
    @extend .col-xs-5;
    @extend .col-sm-5;
    @extend .col-md-5;
    @extend .col-lg-5;
    @extend .col-xl-5;
}

.col_adData_tp_mid {
    height: 100%;
    display: flex;
    justify-content: flex-end;
    border-right: 1px solid $bordersTpMid;
    @include collapse();
    @extend .col-xs-5;
    @extend .col-sm-5;
    @extend .col-md-5;
    @extend .col-lg-5;
    @extend .col-xl-5;
}

.col_adData_tp_right {
    height: 100%;
    @include collapse();
    @extend .col-xs-0;
    @extend .col-sm-1;
    @extend .col-md-1;
    @extend .col-lg-1;
    @extend .col-xl-1;
}


/* addata mid middle */
.col_adData_md_left {
    height: 100%;
    @include collapse();
    @extend .col-xs-1;
    @extend .col-sm-1;
    @extend .col-md-1;
    @extend .col-lg-1;
    @extend .col-xl-1;
}

.col_adData_md_mid {
    height: 100%;
    overflow: auto;
    border-right: 1px solid $bordersTpMid;
    @include collapse();
    @extend .col-xs-10;
    @extend .col-sm-10;
    @extend .col-md-10;
    @extend .col-lg-10;
    @extend .col-xl-10;
}

.col_adData_md_right {
    height: 100%;
    display: flex;
    justify-content: center;
    @include collapse();
    @extend .col-xs-1;
    @extend .col-sm-1;
    @extend .col-md-1;
    @extend .col-lg-1;
    @extend .col-xl-1;

    @media(min-width: $lg) and (max-width: $xl) {
        justify-content: flex-end;
    }
}

// components

/* panel data management */

.cn_panel_datamg {
    height: 70%;
    display: flex;
    justify-content: flex-end;

    @media(max-width: 731px) and (orientation: landscape) {
        height: 100%;
    }

    @media(max-width: $sm) {
        width: 100%;
        height: auto;
        justify-content: center;
    }

    @media(min-width: $lg) and (max-width: $xl) {
        width: 80%;
    }
}

.ul_panel_datamg_items {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    @media(max-width: $sm) {
        flex-direction: row;
        align-self: center;
        width: 80%;
    }

    @include collapse();

    li {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: flex-end;
        border-radius: 10px;
        padding-right: 1px;

        svg {
            width: 55%;
            cursor: pointer;
            align-self: flex-start;
        }

        svg:hover {
            fill: $p;
        }
    }
}


/* management data sector */


/* search in data */

.cn_searchmg {
    width: 100%;
    height: 100%;
    padding: 0;
    display: flex;
    justify-content: flex-end;
}

.ul_searchmg {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: row;
    @include collapse();

    li:nth-child(1) {
        width: 70%;
    }

    li:nth-child(2) {
        width: 30%;

        svg {
            width: 50% !important;
        }
    }

    li {
        height: 100%;
        display: flex;
        justify-content: center;

        svg {
            width: 70%;
            fill: $fillSearchIcon;
        }

        input {
            align-self: center;
            width: 100%;
            height: 100%;
            padding-left: 5%;
            font-size: 25px;
            border: none;
            background: transparent;
        }
    }
}


/* boxes of data */

.cn_adData_mag {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
    justify-content: center;
    @include make-container();
    @include collapse();

    @media(max-width: $sm) {
        @include collapse();
    }
}

.cn_adData_mag::-webkit-scrollbar {
    width: 18px;
}

.cn_adData_mag::-webkit-scrollbar-track {
    border-radius: 10px;
}

.cn_adData_mag::-webkit-scrollbar-thumb {
    background: $p;
}

.ul_boxsdatamg {
    min-width: 45%;
    height: 42%;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 5px;
    cursor: pointer;
    background: #FFF;
    box-shadow: 0 5px 10px 1px rgba(233, 233, 233, 0.15);

    @media(max-width: 731px) and (orientation: landscape) {
        min-width: 100%;
        height: 65%;
        margin: 0px;
        border-top: 0;
        border-bottom: 1px solid #e0e6ea;
        border-left: 0;
        border-right: 0;
    }

    @media(min-width: $lg) and (max-width: $xl) {
        min-width: 44%;
        height: 34%;
        margin: 10px;
    }

    @media(max-width: $sm) {
        min-width: 100%;
        margin: 0px;
        margin-bottom: 25px;
        border-top: 0;
        border-bottom: 1px solid #e0e6ea;
        border-left: 0;
        border-right: 0;
    }

    li {
        width: 100%;
        height: 100%;
        display: flex;
        text-transform: capitalize;
    }
}

.boxdatamg_li_top {
    padding-left: 20px;

    p {
        align-self: center;
        font-size: 1.6em;
        @include collapse();
    }
}

.boxdatamg_li_mid {
    display: flex;
    flex-direction: row;
    padding-left: 20px;
    svg {
        width: 100%;
    }

    p {
        padding-left: 6px;
        padding-right: 0;
        padding-bottom: 0;
        padding-top: 0;
        margin: 0;
        align-self: flex-start;
        color: #cccccc;
        font-size: 1.1em;
    }
}

.boxdatamg_li_bot {
    flex-direction: row;
}

.boxdat_libot_div_right {
    width: 50%;
    display: flex;
    justify-content: center;

    @media(max-width: 731px) and (orientation: landscape) {
        justify-content: flex-start;
    }
}

.boxdat_libot_div_left {
    width: 100%;
    display: flex;
    justify-content: center;
}

.boxdat_timeatention {
    align-self: center;
    font-size: 1.5em;
    @include collapse();

    @media(max-width: 731px) and (orientation: landscape) {
        font-size: 1.5em;
    }

    @media(min-width: $lg) and (max-width: $xl) {
        font-size: 1.5em;
    }
}

.boxdata_type {
    width: 20px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-self: flex-start;
}

.ul_topmiddlepanelmg {
    width: 60%;
    height: 100%;
    display: flex;
    @include collapse();
    li:nth-child(1) {
         margin-left: 15px;
    }
    li {
        display: flex;
        width: 100%;
        justify-content: center;
       
        p {
            align-self: center;
            text-transform: capitalize;
            font-size: 1.1em;
            cursor: pointer;
        }
    }
}